<table mat-table [dataSource]="paginatedPorts" class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Port Name</th>
    <td mat-cell *matCellDef="let port">{{ port.name }}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let port">{{ port.country }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let port">
      <button mat-icon-button color="primary" (click)="editPort(port)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletePort(port.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="pagination">
  <button *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1"
          (click)="goToPage(i + 1)">
    {{ i + 1 }}
  </button>
</div>

<button class="btn btn-primary fab" (click)="addPort()">
  <i class="bi bi-plus"></i>
</button>
